.TripleA {
        img {
        width: 100%;
    }
    h2 {
        position: absolute;
        top: 27%;
        left: 37%;
        font-weight: bold;
            letter-spacing: -0.08rem;
            font-size: 55px;
            font-family: 'Barlow Condensed', sans-serif;
    
            padding-bottom:2px;
            color: white;
    }
}
.pic-container {
    padding: 20px 120px;
    background-color: #070707;
    span p {
        margin-left: auto;
        color: white;
    }
}

