a {
    color: white;
    text-decoration: none;
}
input {
    width: 0px;
    height: 30px;
    font-size: 13px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: #171717b0;
    color: white;
    border: 1px solid rgb(146, 146, 146);
      font-family: Arial, Helvetica, sans-serif;
      float: right;
      margin-left: 30px;
      

  }
  

  input[type=text]:focus {
    width: 100%;
  }